<div class="container">
    <div class="header row">
      <div class="col-lg-1">
        <button class="btn btn-outline-primary mb-2" (click)="openToAdd(content)"> 
            <ng-icon name="bootstrapPlus"></ng-icon>Add
          </button>
      </div>
      <div class="col-lg-1">
        <input
            mdbInput
            type="text"
            class="form-control"
            id="search-input"
            placeholder="Name"
            (keyup)="searchByName($event)"
            />
      </div>
      <div class="col-lg-1">
        <input
            mdbInput
            type="text"
            class="form-control"
            id="search-input"
            placeholder="age"
            (keyup)="searchByAge($event)"
            />
      </div>
      <div class="col-lg-2">
        <input
            mdbInput
            type="text"
            class="form-control"
            id="search-input"
            placeholder="search by email"
            (keyup)="searchByEmail($event)"
            />
      </div>
      <div class="col-lg-1">
        <input
            mdbInput
            type="text"
            class="form-control"
            id="search-input"
            placeholder="Id"
            (keyup)="searchById($event)"
            />
      </div>
      <div class="col-lg-2">
        <input
            mdbInput
            type="text"
            class="form-control"
            id="search-input"
            placeholder="search by address"
            (keyup)="searchByAddress($event)"
            />
      </div>
      <div class="col-lg-2">
        <input
            mdbInput
            type="date"
            class="form-control"
            id="search-input"
            (input)="searchByDateStart($event)"
            />
      </div>
      <div class="col-lg-2">
        <input
            mdbInput
            type="date"
            class="form-control"
            id="search-input"
            (input)="searchByDateEnd($event)"
            />
      </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-3" *ngFor="let s of listStudent | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}">
        <div class="card d-flex flex-column h-100" style="width: 100%;">
          <button type="button" (click)="openToDelete(delete, s)" class="delete-student">X</button>
          <img [src]="s.avatar" class="card-img-top" [alt]="s.name" style="width: 100%; height: 140px;" (click)="openDetailStudent(s.id!)">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title mb-6">{{s.name}} - {{s.age}} years old</h5>
            <div class="button-contaniner mt-auto row" style="height: 40px;">
                <button type="button" (click)="openDetailStudent(s.id!)" class="btn btn-primary col-lg-3 col-md-4 col-sm-6"><ng-icon name="bootstrapEyeFill"></ng-icon></button>
                <button type="button" (click)="openToUpdate(content, s)" class="btn btn-warning col-lg-8 col-md-4 col-sm-6 ms-2"><ng-icon name="bootstrapBoxArrowInDown"></ng-icon>Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center row mt-3">
      <div class="size d-flex col-lg-4">
        <div class="mt-1"><strong>Size: </strong></div>
        <div><input type="number" class="form-control page-input" (change)="onPageSize($event)"></div>
      </div>
      <div class="button-group col-lg-8 ">
          <!-- <button type="button" class="btn btn-custom" (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>
          <button type="button" class="btn btn-custom" (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button> -->
          <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 *ngIf="action === 'Add'" class="modal-title" id="modal-basic-title">Add student</h4>
      <h4 *ngIf="action === 'Update'" class="modal-title" id="modal-basic-title">Update student</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" [textContent]="student.name" (ngModelChange)="onChangeFieldName($event)" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
          <p style="color: red;" *ngIf="!checkName">The name is empty!</p>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" [textContent]="student.email" (keyup)="validEmail($event)" class="form-control" id="email" required [(ngModel)]="student.email" name="email">
          <p style="color: red;" *ngIf="!testEmail || !checkEmptyEmail">The email is not in the correct format</p>
          <p style="color: red;" *ngIf="existsEmail">Email already exists</p>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" [textContent]="student.description" class="form-control" id="description" required [(ngModel)]="student.description" name="description">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" [textContent]="student.age" (keyup)="checkValueAge($event)" class="form-control" id="age"  [(ngModel)]="student.age" name="age">
          <p style="color: red;" *ngIf="!checkAge">Age not < 0</p>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" [textContent]="student.address" class="form-control" id="address" [(ngModel)]="student.address" name="address">
        </div>
        <div class="mb-3">
          <img *ngIf="urlAvatar !== undefined" [src]="urlAvatar" [alt]="student.name" style="width: 44px;height: 44px;border-radius: 50%;">
          <label for="avatar" class="form-label">Avatar</label>
          <input type="file" [textContent]="student.avatar" (change)="onFileSelected($event)">
        </div>
        <div class="mb-3">
          <label for="classroom" class="form-label">Class room</label>
          <select type="text" class="form-control" id="classroom" required [(ngModel)]="student.classroom" name="classroom">
            <option *ngIf="tempClassRoom !== undefined" [ngValue]="null"  [selected]="true">{{ tempClassRoom.className}}</option>
            <option *ngIf="tempClassRoom === undefined" [ngValue]="null" disabled [selected]="true">Choose classroom</option>
            <option *ngFor="let cl of listClass" [ngValue]="cl.id">{{ cl.className }}</option>
        </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button *ngIf="action === 'Add'" type="button" class="btn btn-primary" (click)="addStudent()"><ng-icon name="bootstrapSave"></ng-icon>Save</button>
      <button *ngIf="action === 'Update'" type="button" class="btn btn-warning" (click)="updateStudent()"><ng-icon name="bootstrapBoxArrowInDown"></ng-icon>Update</button>
      <button type="button" class="btn" (click)="modal.dismiss('Cancel')">Cancel</button>
    </div>
  </ng-template>


  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4>You sure You want to delele this student?</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteStudent()"><ng-icon name="bootstrapTrash"></ng-icon>Delete</button>
      <button type="button" class="btn" (click)="modal.dismiss('Cancel')">Cancel</button>
    </div>
  </ng-template>
  
