::ng-deep{
    // .ngx-pagination {
    //   display: flex;
    //   justify-content: center;
    // }
    .ngx-pagination li {
        border-radius: 50% !important;
    }
  
    &.small-screen {
      display: none !important;
    }
    
    &.pagination-previous,
    &.pagination-next{
      a, span {
        border-radius: 50%;
      }
    }
  }

  ng-icon {
    margin-right: 4px;
  }